.title {
    text-align: center;
    padding: 10% 20% 0 20%;
}

.background {
    background: url('../images/background.png') top center;
    height: 100%;
    width: 100%;
    background-size: cover;
}

.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}

.signupbutton {
    margin-top: 30px;
}

.contact {
    margin-top: 50px;
}

@media(max-width:768px){
    .background {
    background: url('../images/background.png') top center;
    height: 100%;
    width: 100%
    }
}
