<!doctype html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="css/reset.css">
    <!-- CSS reset -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Resource style -->
    <script src="js/modernizr.js"></script>
    <!-- Modernizr -->
    
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/tech-hub.css" rel="stylesheet">

    <title>{{ page.title }}</title>
</head>

<body>
    <header class="cd-header">
        <div id="cd-logo">
            <a href="#0"><img src="assets/logo.png" alt="Logo"></a>
        </div>

        <nav class="cd-primary-nav">
            <ul>
                <li><a href="#">About Us</a></li>
                
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
        <!-- .cd-primary-nav -->
    </header>

    <section class="cd-hero">
        <ul class="cd-hero-slider">
            <li class="selected">
                <div class="cd-full-width">
                    <h2 id="pagetitle">Chipata Tech Hub</h2>
                    <p id="page_subtitle">Dream it, we build it.</p>
                </div>
                <!-- .cd-full-width -->
            </li>

            <li>
                <div class="cd-half-width">
                    <h2>Responsive design</h2>
                    <p>We live in a mobile world, people spend more time and search more frequently on mobile devices. This is the reason we build mobile-first websites that look grat in all devices. </p>
                </div>
                <!-- .cd-half-width -->

                <div class="cd-half-width cd-img-container">
                    <img src="assets/responsive-web-design.png" alt="tech 1">
                </div>
                <!-- .cd-half-width.cd-img-container -->
            </li>

            <li>
                <!-- .cd-half-width.cd-img-container -->

                <div class="cd-full-width">
                    <h2 id="black_text">We don't just build websites for you, we build them with you!</h2>
                    <p id="black_text">The satisfaction of our clients is our first priority. This is the reason we spend time with our clients to understand their needs and integrate their feedback into the prodcut.</p>
                </div>

            </li>


            <li>
                <div class="cd-full-width">
                    <h2>Great websites require great pictures</h2>
                    <p>We don't just code. We capture all the necessary multimedia material, including photography and video, to ensure your website looks great.The best is you keep all the material if you need it for other use.</p>        
                </div>
                <!-- .cd-full-width -->
            </li>
            <li>
                <div class="cd-full-width">
                    <h2>If you are not happy, we are not happy</h2>
                    <p>Client satisfaction is our number one priority and that is the reason you only pay if you are satisfied with the end result. Great products require iterations and we are happy to iterate with our clients until we get the right result.</p>        
                </div>
                <!-- .cd-full-width -->
            </li>
        </ul>
        <!-- .cd-hero-slider -->

        <div class="cd-slider-nav">
            <nav>
                <span class="cd-marker item-1"></span>

                <ul>
                    <li class="selected"><a href="#0">Intro</a></li>
                    <li><a href="#0">Tech</a></li>
                    <li><a href="#0">Process</a></li>
                    <li><a href="#0">Media</a></li>
                    <li><a href="#0">Results</a></li>
                </ul>
            </nav>
        </div>
        <!-- .cd-slider-nav -->
    </section>
    
    <section class="container" id="aboutus">
        {{ content }}
    </section>

    <!-- .cd-main-content -->

    <div id="map1" class="map"></div>
    
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row" id="contact">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4><strong>Chipata Tech Hub</strong>
                    </h4>
                    <p>52469 Kanyanja Road<br>Chipata, Zambia </p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-phone fa-fw"></i> +260 961 039 485 </li>
                        <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:name@example.com">chipatatechhub@gmail.com</a>
                        </li>
                    </ul>
                    <hr class="small">
                    <p class="text-muted">Copyright &copy; Chipata Tech Hub 2016</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="js/jquery-2.1.1.js"></script>
    <script src="js/main.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>

    <script type="text/javascript">
        jQuery(function ($) {
            function init_map1() {
                var myLocation = new google.maps.LatLng(-13.6461074, 32.6468477);
                var mapOptions = {
                    center: myLocation
                    , zoom: 16
                    , scrollwheel: false
                };
                var marker = new google.maps.Marker({
                    position: myLocation
                    , title: "Property Location"
                });
                var map = new google.maps.Map(document.getElementById("map1")
                    , mapOptions);
                marker.setMap(map);
            }
            init_map1();
        });
    </script>
</body>

</html>
